@import url('https://fonts.googleapis.com/css2?family=Cinzeldisplay=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --main-col: 5 20 40;
  --color: ;
  --bronze: 140 100 60;
  --silver: 192 192 192;
  --gold: 255 215 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  #landing_1 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  #landing_1 img {
    width: 100px;
  }

  #landing_2 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  #landing_2 img {
    width: 1000px;
  }

  .hero_seaction_1 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .product_1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards_1 {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .switch_1 {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .insider_father {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .alert_bar {}
}

.alert_1 {
  box-shadow: 0 4px 8px #0000003d;
}

.aif_1 {
  box-shadow: 3px 4px 8px #0000003d;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 220px;
  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

/* landing page */

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .landing-img2 {
   position: relative;
   top: 6rem;
  }
}

/* #hero-section {
   background-image: url("./assets/assets/9176945_6685.jpg");
   opacity:0.8;
   min-height: 100vh;
   background-color: #0e141c;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  flex-direction: column;
  margin-top: 70px;
  justify-content: center;
  align-items: stretch;
  display: flex;
  border: 2px solid red;
  position: relative;
} */

/* navbar bg  */

/* login bg */

.log-bg {
  background-image: url("./assets//assets/5590897.jpg");
  background-size: cover;
  background-position: center;
}


/* discription bg */

.bg-dic {
  background-image: linear-gradient(to left, #f6f6f6, #d6d3da);
}

/* navbar css */

.navb-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-flow {
  overflow: hidden;
}

.animated-text {
  position: relative;
  animation: moveFromRight 2s ease forwards;
  /* color: white; */
  /* font-size: 35px; */
  letter-spacing: 3px;
}

.animated-text1 {
  position: relative;
  animation: moveFromLeft 2s ease forwards;
  /* color: white; */
  /* font-size: 35px; */
  letter-spacing: 3px;
}



@keyframes moveFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* about */

.skill-container-right {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  justify-content: center;
}

.blob-style {
  position: absolute;
  z-index: -5;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate {
  50% {
    top: 64%;
    left: 66%;
  }
}

@media (max-width: 742px) {
  .comp-grid {
    grid-template-columns: repeat(2, minmax(48%, 1fr));
  }
}

@media (max-width: 742px) {
  .service-grid {
    grid-template-columns: repeat(2, minmax(48%, 1fr));
  }
}

/* success */
.wrapper1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.logo12 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo12 img {
  width: 30px;
}

.bg1 {
  background-color: antiquewhite;
}

.payment12 {
  /* border: 2px solid red; */
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  font-family: monospace;
}

.btn-pera12 {
  /* border: 2px solid red; */
  margin-top: 8px;
  width: 100%;
  text-align: center;
}

/* become partner */

.father-partner {
  background-image: linear-gradient(to left, #f6f6f6, #d6d3da);
}

.bg-father {
  background-image: url("https://us.123rf.com/450wm/golfmerrymaker/golfmerrymaker2311/golfmerrymaker231100651/217964128-man-holding-hip-of-coins-with-small-green-seedling-growing-from-them-generative-ai.jpg?ver=6");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* oppo btn */

.btn-primary {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.btn-primary:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-primary:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-primary:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.btn-primary:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-primary:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/* chackbox */
/* Hide the default checkbox */
.container-father input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-father {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  --clr: #0B6E4F;
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.container-father input:checked~.checkmark {
  background-color: var(--clr);
  border-radius: .5rem;
  animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-father input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-father .checkmark:after {
  left: 0.47em;
  top: 0.40em;
  width: 0.25em;
  height: 0.5em;
  border: solid #E0E0E2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0B6E4F90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #0B6E4F60;
  }

  100% {
    box-shadow: 0 0 0 13px #0B6E4F30;
    rotate: 0;
  }
}


/* testing */

/* .account-page{
  padding:50px 0;
  background: radial-gradient(#fff,#ffd6d6);
}

.form-container{
  background:#fff;
  width:300px;
  height:400px;
  position:relative;
  text-align: center;
  padding:20px 0;
  margin:auto; 
  box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
  overflow: hidden;
}

.form-container span{
  font-weight:bold;
  padding:0 10px;
  color:#555;
  cursor:pointer;
  width:100px;
  display:inline-block;
}

.form-btn{
  display: inline-block;
}

.form-container form{
  max-width:300px;
  padding:0 20px;
  position:absolute;
  top:130px;
  transition:transform 1s;
}

form input{
  width:100%;
  height:30px;
  margin:10px 0;
  padding:0 10px; 
  border:1px solid #ccc;
}

form .btn{
  width:100%;
  border:none;
  cursor:pointer;
  margin:10px 0;
}

form .btn:focus{
  outline:none;
}

#LoginForm{
  left:-300px;
  transform: translateX(0px);
}

#RegForm{
  transform: translateX(0px);
} 

form a{
  font-size:13px;
}

#Indicator{
  width:100px;
  border:none;
  background:#ff523b;
  height:3px;
  margin-top:8px;
  transform:translateX(100px);
  transition:transform 1s;
  transform: translateX(100px);
} */

/* stats */


/* services */

.bg-click{
  background-image: url(../src/assets/assets/18246003_v915-wit-001.jpg);
  background-position: center;
  background-size: cover;
}

.hero-background{
  background-image: url(./assets/assets/5566879.jpg);
  background-position: center;
  background-size: cover;
}



/* testing */

.blog-card {
  max-width: 80%;
  box-sizing: border-box;
  margin: 2rem auto;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.blog-card:hover {
  transform: scale(1.03);
}

.blog-card img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.blog-content {
  background-color: rgb(245, 250, 250);
  padding: 0.3rem 2rem 1rem 2rem;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  overflow: hidden;
}

.author img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
  border: 1px solid rgb(164, 160, 160);
}

.author p {
font-style: italic;
}

.blog-label {
  display: inline-block;
  background-color: rgb(194, 131, 16);
  color: white;
  border-radius: 15px;
  padding: 0 1rem;
}

@media (min-width: 48rem) {
  .blog-card {
    max-width: 30%;
  }
}

/* login sigup */

.switchinsert img{
  margin:0px 30px;
}

.switchinsert input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;

}

.SubmitOne{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: white;
  background-color: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray{
  background: #eaeaea;
  color: #676767;
}


/* login register */

/* .LoginContainer{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.LoginContainer p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.LoginContainer span{
  font-size: 12px;
}

.LoginContainer a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.LoginContainer button{
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.LoginContainer button.hidden{
  background-color: transparent;
  border-color: #fff;
}

.LoginContainer form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.LoginContainer input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.FormContainer{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.SingIn{
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in{
  transform: translateX(100%);
}

.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.LoginContainer.active .SingUp{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}


.LoginSocialIcons{
  margin: 20px 0;
}

.LoginSocialIcons a{
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}


.LoginContainer.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.LoginContainer.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%);
}

.LoginContainer.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.LoginContainer.active .toggle-right{
  transform: translateX(200%);
} */


.LoginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #e8e8e8; */
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #240046;
  max-height: 450px;
  width: 400px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(59, 0, 130, 0.442) 0px 30px 90px;
}

.formChix {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/

#chk {
  display: none;
}

/*Login*/

.LoginChix {
  position: relative;
  width: 100%;
  height: 100%;
}

.LoginChix label {
  margin: 5% 0 5%;
}

label {
  color: #fff;
  font-size: 3rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.inputchix {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  background: #e0dede;
  padding: 10px;
  margin-top: 15px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.inputchix::placeholder {
  color: black;
  font-weight: 700;
  font-size: 12px;
}

/*Register*/

.registerChix {
  background: #eee;
  border-radius: 60% / 10%;
  transition: .8s ease-in-out;
}

.registerChix label {
  color: #573b8a;
  transform: scale(.6);
}

#chk:checked ~ .registerChix {
  transform: translateY(-70%);
}

#chk:checked ~ .registerChix label {
  transform: scale(1);
  margin-bottom: .5rem;
}

#chk:checked ~ .LoginChix label {
  transform: scale(.6);
}   

/*Button*/

.formChix button {
  width: 70%;
  height: 40px;
  margin: 15px auto 10%;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.formChix button:hover {
  background-color: #6d44b8;
}

.bg-chick{
  background-image: url("./assets//assets/5590897.jpg");
  background-size: cover;
  background-position: center;
}